/* Body Styles*/
body{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 100vh;
    margin: 0;
}

/* Display Styles*/
@keyframes displayAnimation {
    from{top: 40%;}
    to{top: 20%;}
}
#countLabel{
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
    animation-name: displayAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
#display{
    position: relative;
    text-align: center;
}
#box-close{
    position: absolute;
    right: 30%;
    height: 350px;
    width: 350px;
    top: 35%;
    right: 38%;
}
#box-open{
    position: absolute;
    right: 39%;
    top: 40%;
    display: none;
}

/* Button Style*/
#btnContainer{
    position: relative;
    right: 3%;
}
#countButton{
    font-size: 2em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #000000;
    position: absolute;
    top: 80%;
    cursor: pointer;
}
#resetBtn{
    position: absolute;
    top: 90%;
    font-size: 2em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #000000;
    cursor: pointer;
}